
main {
color: red;
}

.title h1 {
	color: rgb(248, 126, 19);
}
h2{
	color: aquamarine;
}


.list {
	color: brown;

}
.details h2 {
	color: blue;
}
.details p{
color: blueviolet;
}

.history p{
	color: gray;
}
.history * p{
	color: rgb(160, 110, 35);
}
.history *{
	color: green;

}
.history a {
	color: red;
}
.chronology {
	
}

footer{
	color: gray;
}